<h2>Home</h2>

<% if user_signed_in? %>
  <p>You are signed in as: <%= current_user.email %></p>
  <p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
  <p><%= link_to('Edit registration', edit_user_registration_path) %></p>
<% else %>
  <p><%= link_to('Login', new_user_session_path)  %></p>
  <p><%= link_to('Register', new_user_registration_path)  %></p>
<% end %>
